---
import { changeLanguage } from "i18next";
import BlogHeader from "@/components/blog-header.astro";
import BlogCard from "@/components/cards/blog-card.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { getBlogPosts } from "@/lib/fetchers";
import Timeline from "@/components/Timeline.astro";
import HeaderSection from "@/components/sections/header-section.astro";
import { useLocation } from "@/lib/location";

changeLanguage("en");

const { lang } = useLocation(Astro.url.pathname);
const posts = await getBlogPosts(lang);
---

<MainLayout title="Static Blog">
  <section class="container py-16">
    <!-- Timeline Section -->
    <HeaderSection
      label="Timeline"
      title="Discover our history."
      subtitle="Harum quae dolore inventore repudiandae? orrupti aut temporibus ariatur."
    />
    <!-- <Timeline events={events} /> -->

    <!-- Blog Section -->
    <BlogHeader title="Blog Posts" page="blogPosts" />

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-10 md:gap-y-14 lg:gap-y-16 lg:gap-x-10 mt-16">
      {posts.map((post) => <BlogCard {...post} />)}
    </div>
  </section>
</MainLayout>
