---
interface Props {
  label?: string;
  title: string;
  subtitle?: string;
}

const { label, title, subtitle } = Astro.props;
---

<div class="flex flex-col items-center text-center">
  {
    label ? (
      <div class="bg-gradient-to-r from-orange-600 to-yellow-300 bg-clip-text text-transparent font-extrabold mb-4 font-semibold">{label}</div>
    ) : null
  }
  <h2 class="font-heading text-3xl md:text-4xl lg:text-[40px]">
    {title}
  </h2>
  {
    subtitle ? (
      <p class="mt-6 text-balance text-lg text-muted-foreground">{subtitle}</p>
    ) : null
  }
</div>
