---
import MainLayout from "@/layouts/main-layout.astro";
import Features from "@/components/sections/features.astro";

---

<MainLayout
  title="Waitlist"
  description="A waiting list page with form using Astro DB."
  mainClass="bg-background-200"
>

  <div
    class="px-4 py-5 sm:p-6 bg-background border rounded-xl overflow-hidden -mt-36"
  >
            <section class="container py-10">
                <Features />
            </section>
  </div>

</MainLayout>


