---
import Analytics from '@vercel/analytics/astro';
import BaseHead from "@/components/layout/base-head.astro";
import TailwindIndicator from "@/components/tailwind-indicator.astro";
import { Toaster } from "sonner";
import { cn } from "@/lib/utils";
import i18next from "i18next";

type Props = {
  title: string;
  description?: string;
  bodyClass?: string;
};

const { title, description, bodyClass } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang={i18next.language}>
  <head>
    <BaseHead title={title} description={description} />
    
    <!-- Add Analytics Component -->
    <Analytics mode="production" />
    
    <!-- Google tag (gtag.js) script pour charger avant le consentement -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11500393110"></script>
    
    <!-- Script Usercentrics pour le consentement des cookies -->
    <script src="https://web.cmp.usercentrics.eu/modules/autoblocker.js"></script>
    <script id="usercentrics-cmp" src="https://web.cmp.usercentrics.eu/ui/loader.js" data-settings-id="ny_0SHLxF6AWPx" async></script>
  
    <!-- Script Google Analytics uniquement après consentement pour la catégorie "statistiques" -->
    <script type="text/plain" data-cookieconsent="statistics">
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-11500393110');
    </script>
  
    <!-- Script Google Ads uniquement après consentement pour la catégorie "marketing" -->
    <script type="text/plain" data-cookieconsent="marketing">
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('config', 'AW-11500393110');
    </script>
  </head>
  
  <body class={cn("flex flex-col min-h-screen", bodyClass)}>
    <slot />
    <TailwindIndicator />
    <Toaster richColors client:only="react" />
  </body>
</html>
