---
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import { MainNavigationMenu } from "@/components/main-navigation-menu";
import { cn } from "@/lib/utils";
import BaseLayout from "./base-layout.astro";
import { SheetMobileNav } from "@/components/layout/sheet-mobile-nav";
import { navMenuConfig } from "@/config/nav-menu";
import { ThemeToggle } from "@/components/theme-toggle";
import { siteConfig } from "@/config/site";
import { Icon } from "astro-icon/components";
import { buttonVariants } from "@/components/ui/button";
import LanguagePicker from "@/components/language-picker.astro";
// import { marketingConfig } from "@/config/marketing";
// import MainNav from "@/components/layout/main-nav.astro";

type Props = {
  title: string;
  description?: string;
  mainClass?: string;
};

const { title, description, mainClass } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Header className="border-b">
    <MainNavigationMenu slot="left-header" client:load />
    <SheetMobileNav
      mainNavItems={[...navMenuConfig.links]}
      sidebarNavItems={[
        ...navMenuConfig.pagesNav,
        ...navMenuConfig.examplesNav,
      ]}
      slot="mobile-nav-header"
      client:load
    />

    <div class="flex items-center gap-x-4" slot="right-header">
      <a
        href="https://calendly.com/bubobubo/intro?month=2024-12"
        class={cn(
          buttonVariants({ size: "sm", rounded: "full" }),
          "gap-1",
          "sm:text-xs sm:py-1 sm:px-3", // Small screen adjustments
          "md:text-sm md:px-4 md:py-2" // Medium and larger screen adjustments
        )}
      >
        <span class="hidden sm:block">Request a Quote</span> <!-- Show this on larger screens -->
        <span class="sm:hidden">Quote</span> <!-- Show this on smaller screens -->
        <Icon name="lucide:rocket" class="size-4 text-orange-500" />
      </a>
      <ThemeToggle client:load />
        <LanguagePicker />
    </div>
  </Header>

  <main class={cn(mainClass)}>
    <slot />
  </main>

  <Footer />
</BaseLayout>
